
<div *ngIf="collection">
    <h2><span jhiTranslate="libBooksApp.collection.detail.title">Collection</span> {{collection.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="libBooksApp.collection.name">Name</span></dt>
        <dd>
            <span>{{collection.name}}</span>
        </dd>
        <dt><span jhiTranslate="libBooksApp.collection.cover">Cover</span></dt>
        <dd>
            <div *ngIf="collection.cover">
                <a (click)="openFile(collection.coverContentType, collection.cover)">
                    <img [src]="'data:' + collection.coverContentType + ';base64,' + collection.cover" style="max-width: 100%;" alt="collection image"/>
                </a>
                {{collection.coverContentType}}, {{byteSize(collection.cover)}}
            </div>
        </dd>
        <dt><span jhiTranslate="libBooksApp.collection.bookNumber">Book Number</span></dt>
        <dd>
            <span>{{collection.bookNumber}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'collection/'+ collection.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
