<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCollectionLabel" jhiTranslate="libBooksApp.collection.home.createOrEditLabel">Create or edit a Collection</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!collection.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="collection.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libBooksApp.collection.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="collection.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libBooksApp.collection.cover" for="field_cover">Cover</label>
            <div>
                <img [src]="'data:' + collection.coverContentType + ';base64,' + collection.cover" style="max-height: 100px;" *ngIf="collection.cover" alt="collection image"/>
                <div *ngIf="collection.cover" class="form-text text-danger clearfix">
                    <span class="pull-left">{{collection.coverContentType}}, {{byteSize(collection.cover)}}</span>
                    <button type="button" (click)="clearInputImage('cover', 'coverContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_cover" (change)="setFileData($event, collection, 'cover', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="cover" id="field_cover"
                [(ngModel)]="collection.cover" />
            <input type="hidden" class="form-control" name="coverContentType" id="field_coverContentType"
                [(ngModel)]="collection.coverContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libBooksApp.collection.bookNumber" for="field_bookNumber">Book Number</label>
            <input type="number" class="form-control" name="bookNumber" id="field_bookNumber"
                [(ngModel)]="collection.bookNumber" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
