
<div *ngIf="bookMetadatas">
    <h2><span jhiTranslate="libBooksApp.bookMetadatas.detail.title">Book Metadatas</span> {{bookMetadatas.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="libBooksApp.bookMetadatas.numberOfComments">Number Of Comments</span></dt>
        <dd>
            <span>{{bookMetadatas.numberOfComments}}</span>
        </dd>
        <dt><span jhiTranslate="libBooksApp.bookMetadatas.numberOfLikes">Number Of Likes</span></dt>
        <dd>
            <span>{{bookMetadatas.numberOfLikes}}</span>
        </dd>
        <dt><span jhiTranslate="libBooksApp.bookMetadatas.notation">Notation</span></dt>
        <dd>
            <span>{{bookMetadatas.notation}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'book-metadatas/'+ bookMetadatas.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
