<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBookLabel" jhiTranslate="libBooksApp.book.home.createOrEditLabel">Create or edit a Book</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!book.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="book.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libBooksApp.book.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="book.title" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libBooksApp.book.firstYearEdition" for="field_firstYearEdition">First Year Edition</label>
            <input type="number" class="form-control" name="firstYearEdition" id="field_firstYearEdition"
                [(ngModel)]="book.firstYearEdition" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libBooksApp.book.hasNext" for="field_hasNext">Has Next</label>
            <input type="checkbox" class="form-control" name="hasNext" id="field_hasNext"
                [(ngModel)]="book.hasNext" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libBooksApp.book.summary" for="field_summary">Summary</label>
            <input type="text" class="form-control" name="summary" id="field_summary"
                [(ngModel)]="book.summary" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libBooksApp.book.cover" for="field_cover">Cover</label>
            <div>
                <img [src]="'data:' + book.coverContentType + ';base64,' + book.cover" style="max-height: 100px;" *ngIf="book.cover" alt="book image"/>
                <div *ngIf="book.cover" class="form-text text-danger clearfix">
                    <span class="pull-left">{{book.coverContentType}}, {{byteSize(book.cover)}}</span>
                    <button type="button" (click)="clearInputImage('cover', 'coverContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_cover" (change)="setFileData($event, book, 'cover', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="cover" id="field_cover"
                [(ngModel)]="book.cover" />
            <input type="hidden" class="form-control" name="coverContentType" id="field_coverContentType"
                [(ngModel)]="book.coverContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libBooksApp.book.numberOfPages" for="field_numberOfPages">Number Of Pages</label>
            <input type="number" class="form-control" name="numberOfPages" id="field_numberOfPages"
                [(ngModel)]="book.numberOfPages" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libBooksApp.book.metadatas" for="field_metadatas">Metadatas</label>
            <select class="form-control" id="field_metadatas" name="metadatas" [(ngModel)]="book.metadatasId">
                <option [ngValue]="null"></option>
                <option [ngValue]="bookMetadatasOption.id" *ngFor="let bookMetadatasOption of metadatas; trackBy: trackBookMetadatasById">{{bookMetadatasOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libBooksApp.book.collection" for="field_collection">Collection</label>
            <select class="form-control" id="field_collection" name="collection" [(ngModel)]="book.collectionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="collectionOption.id" *ngFor="let collectionOption of collections; trackBy: trackCollectionById">{{collectionOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="libBooksApp.book.author" for="field_author">Author</label>
            <select class="form-control" id="field_author" name="author" [(ngModel)]="book.authorId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="authorOption.id" *ngFor="let authorOption of authors; trackBy: trackAuthorById">{{authorOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
