
<div *ngIf="userBook">
    <h2><span jhiTranslate="libBooksApp.userBook.detail.title">User Book</span> {{userBook.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="libBooksApp.userBook.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'libBooksApp.BookStatus.' + userBook.status}}">{{userBook.status}}</span>
        </dd>
        <dt><span jhiTranslate="libBooksApp.userBook.comment">Comment</span></dt>
        <dd>
            <span>{{userBook.comment}}</span>
        </dd>
        <dt><span jhiTranslate="libBooksApp.userBook.isLiked">Is Liked</span></dt>
        <dd>
            <span>{{userBook.isLiked}}</span>
        </dd>
        <dt><span jhiTranslate="libBooksApp.userBook.user">User</span></dt>
        <dd>
            {{userBook.userId}}
        </dd>
        <dt><span jhiTranslate="libBooksApp.userBook.books">Books</span></dt>
        <dd>
            <div *ngIf="userBook.booksId">
                <a [routerLink]="['/book', userBook.booksId]">{{userBook.booksId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-book/'+ userBook.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
